.full-width-table {
    width: 100%;
}

#tableLivros {
    margin: 30px 35px 35px 35px;
}

#novoL {
    margin: 15px;
    display: flex;
    text-align: center;
}

.edit > i {
    margin: 10px;
    color: #68e122;
}

.delete > i {
    margin: 10px;
    color: #de2b2b;
}
