<mat-toolbar class="header mat-elevation-z8">
    <span>
        <div class="logo">
            <a routerLink="/">
                <img src="assets/img/ibm-logo.png" alt="logo" />
            </a>
        </div>
    </span>
    <span class="title-group">
        <div class="booksContainer">
            <img src="assets/icons/book.svg" />
            <a id="booksLink" routerLink="biblioteca"> Livros </a>
        </div>
    </span>
</mat-toolbar>

<div class="content"><router-outlet></router-outlet></div>
