.header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #283593;
}

.header a {
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.793);
    padding: 1.5rem;
}

.header .logo {
    max-width: 64px;
}

#booksLink {
    padding: 0.7rem;
}

.booksContainer {
    display: flex;
    margin: 1.5rem;
}
