<form [formGroup]="form">
    <div>
        <label for="titulo">Título</label>
        <input
            id="titulo"
            type="text"
            placeholder="Título do livro"
            formControlName="titulo"
            [(ngModel)]="livros.livro_titulo"
            required
        />
    </div>
    <div>
        <label for="autor">Autor</label>
        <input
            id="autor"
            type="text"
            placeholder="Autor do livro"
            formControlName="autor"
            [(ngModel)]="livros.livro_autor"
            required
        />
    </div>
    <div>
        <label for="editora">Editora</label>
        <input
            id="editora"
            type="text"
            placeholder="Editora do livro"
            formControlName="editora"
            [(ngModel)]="livros.livro_editora"
            required
        />
    </div>
    <div>
        <label for="publicacao">Publicação</label>
        <input
            id="publicacao"
            type="text"
            placeholder="Publicação do livro"
            formControlName="publicacao"
            [(ngModel)]="livros.livro_publicacao"
            required
        />
    </div>
    <button type="submit" (click)="onUpdate(livros)">Enviar</button>
</form>
