.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #13c0f5;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.793);
}
